body {
    background-color:azure;
}

#header {
    margin:auto;
    width:2000px;
    font-family:Arial, Helvetica, sans-serif;
}

form {
    margin: 2em;
    padding: 2em;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

tr {
    background-color:rgb(243, 243, 243);
}

p {
    margin: 0 auto;
    font-size: 1.5em;
}

ul, ol {
    list-style:none;
}

div {
    text-align: center;
}

.nav {
    width:1000px; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}